

 <div class="main sentiment  mt-4">
    <div class="container">
        <div  *ngIf="loading$ | async" class="row justify-content-md-center stocksList"> 
            <div class="col-md-4 loading" >Loading ...</div>
          </div>
        <div class="row justify-content-center mt-4"  *ngIf="stockInfo">
            <div class="col-md-12 mt100">
                <div class="m-4 position-relative">
                    <!-- Row -->
                    <div class="row topCard">
                      <div class="col-md-2">            
                        <button type="button" class="cardbtns setbg rounded" aria-label="Close">
                          {{stockInfo.symbol}}
                        </button>
                      </div>
                      <div class="col-md-8 text-center">
                        <h2 class="text-truncate">{{stockInfo.description}}</h2>
                      </div>
                      <div class="col-md-2  text-right">&nbsp;</div>
                    </div>
                     <!-- Row -->
                     <div class="card" >
                      <div class="row ">
                        <div class="col-md-4 sentimentItem" *ngFor="let stock of stockInfo.data">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>{{ monthList[stock.month-1]  }} {{stock.year}}</h4>
                                </div>
                                <div class="col-md-6">
                                    <span class="arrow up" *ngIf="stock.change >= 0">🡭</span>
                                    <span class="arrow down" *ngIf="stock.change < 0">🡮</span>             
                                </div>
                                <div class="col-md-6">
                                  <strong>Change:</strong>
                                  <p> {{ stock.change }}</p>
                                </div>
                                <div class="col-md-6">
                                  <strong>MSPR:</strong>
                                  <p>{{ stock.mspr }}</p>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <a id="backBtn" class="back" routerLink="/">⇽ Back to list of stocks</a>
            </div>
        </div>
       
    </div>
  </div>